<h1>Hi I am Angular</h1>
<h2>I am from {{location}}</h2>
<button (click)="getVal()">welcom</button>
<button (click)="getName(name)">show my name</button>
<button (click)="getcity('Bangaluru')">my city</button>
<button (click)="myEvent('this is click evnt')">click me</button>
<br>
get the value direct in console as enter<input type="text" #box (keyup)="myEvent(box.value)"><br><br>
get the value in console when i press enter<input type="text" #box1 (keyup.enter)="myEvent(box1.value)"><br><br>
get the value in console when i press space<input type="text" #box2 (keyup.space)="myEvent(box2.value)"><br><br>
get tHE value direct to the console when key is released<input type="text" #box3 (keydown)="myEvent(box3.value)"><br><br>
It is blur eventget the value in console when i click mouse out side the text field<input type="text" #box4 (blur)="myEvent(box4.value)"><br><br>

<div
(mouseover)="myEvent('mouse in')"
style="background-color: aqua;">mouse over</div><br>
<div
(mouseleave)="myEvent('mouse out')"
style="background-color:yellowgreen;">mouse leaver</div><br>

<input type="text"[disabled]="disableBox" [value]="name"><br>
<input type="text" disabled={{disableBox}} value={{name}}><br>
<button (click)="enableBox()" >Enable TextBox</button>
<!-- Make Condition with boolean -->
<h1 *ngIf="show else elseBlock">
    if conditon is true
</h1>
<ng-template #elseBlock>
    <h1>else block is dispaly</h1>
</ng-template>

<!-- make condition with string -->

<h1 *ngIf="show1=='yes' then ifBlock1 else elseBlock1">
</h1>
<ng-template #ifBlock1>
    <h1>if block is dispaly</h1>
</ng-template>
<ng-template #elseBlock1>
    <h1>else block is dispaly</h1>
</ng-template>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<!-- make condition with property binding -->
<ng-template [ngIf]="show2=='red'">
<h1>Red block</h1>
</ng-template>

<!-- switch case in angular -->
<h1>Switch case in Angular</h1>
<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'">Red color</h1>
    <h1 style="color: greenyellow;" *ngSwitchCase="'Green'">Green color</h1>
    <h1 *ngSwitchCase="'Blue'">Blue color</h1>
    <h1 *ngSwitchDefault>Defoult case</h1>
</div>

<!-- for loop in angular -->
<h1>For loop in Angular</h1>
<h3 *ngFor="let item of data">
    {{item}}
</h3>
<h3 *ngFor="let item1 of data1">
    {{item1.name}}
    {{item1.age}}
    {{item1.work}}
</h3>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Department</td>
    </tr>
    <tr *ngFor="let item2 of data1">
        <td>{{item2.name}}</td>
        <td>{{item2.age}}</td>
        <td>{{item2.work}}</td>
    </tr>
</table>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Work</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item2 of data1">
        <td>{{item2.name}}</td>
        <td>{{item2.age}}</td>
        <td>{{item2.work}}</td>
      </tr>
    </tbody>
  </table>

  <!-- create a form -->
  <form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)">
    <div class="form-group">
        <h1>User Signup</h1>
        <input type="text"ngModel name="Username" placeholder='Enter your Name'><br><br>
        <input type="text" ngModel name="Age" placeholder='Enter your Age'><br><br>
        <input type="text" ngModel name="Address" placeholder='Enter your Address'><br><br>
        <input type="password" ngModel name="Address" placeholder='Enter your Address'><br><br>
        <button>Get User value</button>
    </div>
  </form>
  <app-user-signup></app-user-signup>
  <button mat-button color='warn'> Angular Material ui button </button>

  <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <mat-slider></mat-slider>
    <br><br>
    <app-user [hero]="name"></app-user>
    <app-user (parentComponent)="parentComponent($event)"></app-user>
    <br><br><br>
    <h1> Pipe in angular</h1>
    <h1>{{name | titlecase}}</h1>
    <h1>{{name | uppercase}}</h1>
    <h1>{{name | lowercase}}</h1>
    <h2>{{today|date}}</h2>
    <h2>{{today|date:'fullDate'}}</h2>
    <h3>{{str|slice:2:5}}</h3>
    <h1>{{val|currency:'IN'}}</h1>